{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
	<div class="search">
	   <section class="hero">
	      <div class="hero-body">
	        <div class="container has-text-centered">
	          <h1 class="title">Social Platform For Graduation Projects</h1>
	          <p class="subtitle">Users will be able to search, find and learn about various graduation projects and make comments to them.</p>
	          Icons made by <a href="https://www.flaticon.com/free-icon/book_1164651" title="mavadee">mavadee</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
	          	<br>
				Photo by Alfons Morales on Unsplash
	        </div>
	      </div>
	    </section>
    </div>
   
{% endblock %}