<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Graduation Projects - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"/>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='main.css') }}"/>
  </head>
  
  <body>
    <header>
      <!-- navbar -->
      <nav class="navbar has-shadow is-info">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{ url_for('home_page') }}">
            <img src="{{ url_for('static', filename='book.png') }}" alt="site logo" style="max-height: 50px" class="py-2 px-2">
          </a>
          <a class="navbar-item">Projects for My Interest</a>
          <a class="navbar-item" href="{{ url_for('about_page') }}">About</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">
                Log in
              </a>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <section class="section">
        <div class="content">
          {% block content %}{% endblock %}
        </div>
      </section>
    </main>

    <!-- login screen -->
    <div class="modal">
      <div class="modal-background"></div>
        <div class="modal-content has-background-white py-5 px-5">
          <h3 class="title mb-6">Log In</h3>
          <form>
            <div class="field">
              <label class="label">E Mail</label>
              <div class="control">
                <input type="text" class="input" placeholder="example@itu.edu.tr">
              </div>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input type="password" class="input" placeholder="******">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <input type="checkbox">
                  Remember Me
                </label>
              </div>
            </div>
            <div class="mt-6 has-text-centered">
              <button class="button is-primary">Log In</button>
            </div>
          </form>
        </div>
    </div>

    <!-- register screen -->
    <div class="modal">
      <div class="modal-background"></div>
        <div class="modal-content has-background-white py-5 px-5">
          <h3 class="title mb-6">Register</h3>
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" placeholder="John">
            </div>
          </div>

          <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-right">
              <input class="input is-success" type="text" placeholder="j123" value="">
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
            <p class="help is-success">This username is available</p>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="password" placeholder="********">
            </div>
          </div>

          <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-right">
              <input class="input is-danger" type="email" placeholder="example@itu.edu.tr" value="">
              <span class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle"></i>
              </span>
            </div>
            <p class="help is-danger">This email is invalid</p>
          </div>

          <div class="field">
            <div class="control">
              <label class="radio">
                <input type="radio" name="question">
                Student
              </label>
              <label class="radio">
                <input type="radio" name="question">
                Professor
              </label>
            </div>
          </div>

          <div class="field">
            <label class="label">Department</label>
            <div class="control">
              <div class="select">
                <select>
                  <option>Choose</option>
                  <option>Department1</option>
                  <option>Department2</option>
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox">
                I agree to the <a href="#">terms and conditions</a>
              </label>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Register</button>
            </div>
            <div class="control">
              <button class="button is-link is-light">Cancel</button>
            </div>
          </div>
        </div>
    </div>

    <footer class="footer">
      <div class="content">
        <small>&copy; 2020 Ali Emre Öztaş</small>
      </div>
    </footer>
  </body>
</html>