<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Graduation Projects - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"/>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='main.css') }}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  
  <body>
    <header>
      <!-- navbar -->
      <nav class="navbar has-shadow is-info">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{ url_for('home_page') }}">
            <img src="{{ url_for('static', filename='book.png') }}" alt="site logo" style="max-height: 50px" class="py-2 px-2">
          </a>
          <a class="navbar-item {% if session['role'] != 'student' or session['role'] == None %} is-hidden {% endif %}" href="{{ url_for('interest') }}">Projects for My Interest</a>
          <a class="navbar-item" href="{{ url_for('about_page') }}">About</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons {% if 'user' in session %} is-hidden {% endif %}">
              
              <button class="button is-primary" id="signup"><strong>Sign up</strong></button>
              <button class="button is-light" id="login">Log in</button>
          
            </div>
            <div class="buttons {% if 'user' not in session %} is-hidden {% endif %}">
              <a class="button is-primary {% if 'user' not in session %} is-hidden {% endif %}" href="{{ url_for('user_page') }}">User</a>
              <a class="button is-primary {% if 'user' not in session or session['role'] == 'student' %} is-hidden {% endif %}" href="{{ url_for('add_project') }}">Add Project</a>
              <a class="button is-light {% if 'user' not in session %} is-hidden {% endif %}" href="{{ url_for('logout') }}">Logout</a>
            </div>
          </div>
        </div>
      </nav>
    </header>

   

    <!-- login screen -->
    
    <div class="modal {% if logging %} is-active {% endif %}" id="logmod">
      <div class="modal-background" id="mbg2"></div>
        <div class="modal-content has-background-white py-5 px-5">
          <h3 class="title mb-6">Log In</h3>
          <form method="post">
            <div class="field">
              <label class="label">Username</label>
              <div class="control">
                <input type="text" name="username" class="input {% if errordict['loginuser'] %} is-danger {% endif %}" placeholder="emre123">
                {% if errordict['loginuser'] %}
                <p class="help is-danger">{{ errordict['loginuser'] }}</p>
                {% endif %}
              </div>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input type="password" name="password" class="input {% if errordict['loginpassword'] %} is-danger {% endif %}" placeholder="******">
                {% if errordict['loginpassword'] %}
                <p class="help is-danger">{{ errordict['loginpassword'] }}</p>
                {% endif %}
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <input type="checkbox">
                  Remember Me
                </label>
              </div>
            </div>
            <div class="mt-6 has-text-centered">
              <button type="submit" name="login" class="button is-primary">Log In</button>
            </div>
          </form>
        </div>
    </div>

    <!-- register screen -->
    <div class="modal {% if registering %} is-active {% endif %}" id="regmod">
      <div class="modal-background" id="mbg"></div>
        <div class="modal-content has-background-white py-5 px-5">
          <h3 class="title mb-6">Register</h3>
          <form method="post">
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input class="input {% if errordict['regname'] %} is-danger {% endif %}" name="name" type="text" placeholder="John">
                {% if errordict['regname'] %}
                <p class="help is-danger">{{ errordict['regname'] }}</p>
                {% endif %}
              </div>
            </div>

            <div class="field">
              <label class="label">Surname</label>
              <div class="control">
                <input class="input {% if errordict['regsurname'] %} is-danger {% endif %}" name="surname" type="text" placeholder="Hopper">
                {% if errordict['regsurname'] %}
                <p class="help is-danger">{{ errordict['regsurname'] }}</p>
                {% endif %}
              </div>
            </div>

            <div class="field">
              <label class="label">Username</label>
              <div class="control has-icons-right">
                <input class="input {% if errordict['regusername'] %} is-danger {% endif %}" name="username" type="text" placeholder="j123" value="">
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </div>
              {% if errordict['regusername'] %}
                <p class="help is-danger">{{ errordict['regusername'] }}</p>
                {% endif %}
            </div>

            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input class="input {% if errordict['regpassword'] %} is-danger {% endif %}" type="password" name="password" placeholder="********">
                {% if errordict['regpassword'] %}
                <p class="help is-danger">{{ errordict['regpassword'] }}</p>
                {% endif %}
              </div>
            </div>

            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-right">
                <input class="input {% if errordict['regmail'] %} is-danger {% endif %}" type="email" name="email" placeholder="example@itu.edu.tr" value="">
                <span class="icon is-small is-right">
                  <i class="fas fa-exclamation-triangle"></i>
                </span>
              </div>
              {% if errordict['regmail'] %}
                <p class="help is-danger">{{ errordict['regmail'] }}</p>
              {% endif %}
            </div>

            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio" name="question" value="student">
                  Student
                </label>
                <label class="radio">
                  <input type="radio" name="question" value="professor">
                  Professor
                </label>
              </div>
            </div>

            <div class="field">
              <label class="label">Department</label>
              <div class="control">
                <div class="select">
                  <select name="department">
                    <option>Choose</option>
                    {% for name in departments %}
                      <option>{{name[0]}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <input type="checkbox">
                  I agree to the <a href="#">terms and conditions</a>
                </label>
              </div>
            </div>

            <div class="field is-grouped">
              <div class="control">
                <button type="submit" name="register" class="button is-link">Register</button>
              </div>
              <div class="control">
                <button id="cancel" class="button is-link is-light">Cancel</button>
              </div>
            </div>
          </form>
        </div>
    </div>

    <div class="hero is-fullheight is-light has-background">
      <img alt="Library" class="hero-background" src="{{ url_for('static', filename='lib.jpg') }}" />
      <div class="hero-body">
        <div class="container">
           <main>
              <section class="section">
                <div class="content">
                  {% block content %}{% endblock %}
                </div>
              </section>
            </main>

            <footer class="footer">
              <div class="content">
                <small>&copy; 2021 Ali Emre Öztaş</small>
              </div>
            </footer>
        </div>
      </div>
    </div>

    <script src="{{url_for('static', filename = 'index.js')}}" type="text/javascript"></script>

   
  </body>
</html>